@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #291558;
  font-size: 105%;
}

.App {
  background-image: linear-gradient(to top, #291558 0%, #581545 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  height: min-content;
  color: #291558;
  display: grid;
  place-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}

h1{
  font-size:2rem;
}

input {
  width: 100%;
  margin: 0.5rem 0;
}

button {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
}
